---
layout: layouts/base.njk
title: Not found
permalink: /404.html
---
<h1 class="page-title">404</h1>
<div class="prose">
  <p>Page not found. <a href="/">Go home</a> or browse the <a href="/blog/">blog</a>.</p>
</div>
