---
layout: layouts/page.njk
title: Contact
description: "How to get in touch with LUMP Depot."
permalink: /contact.html
---
<p>Hey, I'm Nick.</p>
<p>You can email me at this temporary address <a
    href="mailto:sloped-civic-vest@duck.com">sloped-civic-vest@duck.com</a> but if it starts getting spammy I'll
  delete it.</p>
<p>You can also find me on <a href="https://www.linkedin.com/in/nicholas-tantillo-74493b120/" target="_blank" rel="noopener">LinkedIn</a>.</p>
